[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
seaborn = "*"
numpy = "*"
altair = "*"
streamlit = "*"
ipykernel = "*"
watchdog = "*"

[dev-packages]

[requires]
python_version = "3.14"
